header{
    background-color: #1abc9c;
}

.navbar{
    background-color: #2c3e50;
    border-radius: 0px;
    line-height: 100px;
}

.logo a{
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
}

.menu a{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.list-inline li{
    padding-left: 30px;
}

@media screen and (max-width: 767px) {
    .menu{
        display: none;
    }

    .container{
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .resp-menu{
        display: none;
    }
}

.banner img{
    max-height: 240px;
}

.banner{
    color: white;
}

.banner h1{
    font-size: 65px;
    font-weight: 700;
    padding-top: 20px;
}

.banner span{
    font-size: 40px;
    padding-top: 15px;
}

.banner h2{
    font-size: 24px;
    padding-bottom: 80px;
}
/* FINE HEADER */

.portfolio{
    padding-top: 80px;
    padding-bottom: 80px;
    color: #2c3e50;
}

.portfolio-title h2{
    font-size: 45px;
    font-weight: 700;

}

.picture img{
    border-radius: 4px;
}

.picture {
    padding-bottom: 30px;
}

.portfolio-title span{
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
}
