body {
     padding-top: 100px;
 }

.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2c3e50;
    color: white;
    border: none;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #1abc9c;
}

.navbar-default .navbar-brand:hover{
    color: white;
}

.navbar-default .navbar-toggle{
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.navbar-default .navbar-toggle:hover{
    background-color: #148f77 !important;
}

.navbar-default .navbar-toggle .icon-bar{

    background-color: white;
}
/* FINE HEADER */

.jumbotron{
    background-color: #1abc9c;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner img{
    max-height: 240px;
}

.banner{
    color: white;
}

.banner h1{
    font-size: 6rem;
    font-weight: 700;
    padding-top: 20px;
}

.banner span{
    font-size: 40px;
    padding-top: 15px;
}

.banner h2{
    font-size: 24px;
}
/* FINE JUMBOTRON */
.portfolio{
    padding-top: 80px;
    padding-bottom: 80px;
    color: #2c3e50;
}

.row-title h2{
    font-size: 45px;
    font-weight: 700;

}

.picture img{
    border-radius: 4px;
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(26,188,156,.9);
    border-radius: 7px;
}

.picture:hover .overlay{
    display: block;
    cursor: pointer;
}

.ms--plus{
    color: white;
    font-size: 120px;
    font-weight: 700;
    height: 100%;
}

.ms--plus p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.picture {
    position: relative;
}

.row-title span{
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
}
/* FINE PORTFOLIO */

.about-row{
    background-color: #1abc9c;
}

.about{
    color:white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about p{
    font-size: 20px;
    padding-bottom: 30px;
}

.about button{
    background: none;
    border: 2px solid white;
    padding: 15px 30px;
}

.about button:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
}
/* FINE ABOUT AREA */

.contact{
    padding-top: 80px;
    padding-bottom: 80px;
}
/* FINE CONTACT AREA */

.first-footer-row{
    background-color: #2c3e50;
    padding-top: 60px;
    padding-bottom: 80px;
    color:white;
}

.first-footer .box{
    padding: 0 20px;
}

.box li{
    font-size: 20px;
}

.social-icon{
    border: 2px solid white;
    border-radius: 50%;
    padding: 7px 15px;
}

.box h2{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}

.box h4{
    font-size: 18px;

}

.scnd-footer-row{
    background-color: #1a252f;
}

.second-row{
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}
